{
    "openapi": "3.0.0",
    "info": {
        "title": "Xero Finance API",
        "description": "The Finance API is a collection of endpoints which customers can use in the course of a loan application, which may assist lenders to gain the confidence they need to provide capital.",
        "termsOfService": "https://developer.xero.com/xero-developer-platform-terms-conditions/",
        "contact": {
            "name": "Xero Platform Team",
            "url": "https://developer.xero.com",
            "email": "api@xero.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://github.com/XeroAPI/Xero-OpenAPI/blob/master/LICENSE"
        },
        "version": "19.0.0"
    },
    "servers": [
        {
            "url": "https://api.xero.com/finance.xro/1.0",
            "description": "Xero API servers"
        }
    ],
    "paths": {
        "/CashValidation": {
            "get": {
                "tags": [
                    "Finance"
                ],
                "summary": "Get cash validation",
                "description": "Summarizes the total cash position for each account for an org",
                "operationId": "getCashValidation",
                "parameters": [
                    {
                        "name": "balanceDate",
                        "in": "query",
                        "description": "date, yyyy-MM-dd \r\n\r\nIf no parameter is provided, the current date will be used.\r\n\r\nThe \u2018balance date\u2019 will return transactions based on the accounting date entered by the user.  Transactions before the balanceDate will be included.\r\nThe user has discretion as to which accounting period the transaction relates to.\r\n\r\nThe \u2018balance date\u2019  will control the latest maximum date of transactions included in the aggregate numbers.  Balance date does not affect the CurrentStatement object, as this will always return the most recent statement before asAtSystemDate (if specified)",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2021-09-15",
                        "x-snake": "balance_date"
                    },
                    {
                        "name": "asAtSystemDate",
                        "in": "query",
                        "description": "date, yyyy-MM-dd \r\n\r\nIf no parameter is provided, the current date will be used.\r\n\r\nThe \u2018as at\u2019 date will return transactions based on the  creation date.  It reflects the date the transactions were entered into Xero, not the accounting date.\r\nThe \u2018as at\u2019 date can not be overridden by the user.  This can be used to estimate a \u2018historical frequency of reconciliation\u2019.\r\n\r\nThe \u2018as at\u2019 date will affect the current statement in the response, as any candidate statements created after this date will be filtered out.  Thus the current statement returned will be the most recent statement prior to the specified \u2018as at\u2019 date.  Be aware that neither the begin date, nor the balance date, will affect the current statement.\r\n\r\nNote;  information is only presented when system architecture allows, meaning historical cash validation information will be an estimate. In addition, delete events are not aware of the \u2018as at\u2019 functionality in this endpoint, meaning that transactions deleted at the time the API is accessed will be considered to always have been deleted",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2021-09-15",
                        "x-snake": "as_at_system_date"
                    },
                    {
                        "name": "beginDate",
                        "in": "query",
                        "description": "date, yyyy-MM-dd \r\n\r\nIf no parameter is provided, the aggregate results will be drawn from the user\u2019s total history.\r\n\r\nThe \u2018begin date\u2019 will return transactions based on the accounting date entered by the user. Transactions after the beginDate will be included.\r\nThe user has discretion as to which accounting period the transaction relates to",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2021-09-15",
                        "x-snake": "begin_date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cash validation summary for each account",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CashValidationResponse"
                                    }
                                },
                                "example": [
                                    {
                                        "accountId": "73151de8-3676-4887-a021-edec960dd537",
                                        "statementBalance": {
                                            "value": 100,
                                            "type": "DEBIT"
                                        },
                                        "statementBalanceDate": "2021-03-01",
                                        "bankStatement": {
                                            "statementLines": {
                                                "unreconciledAmountPos": 4577,
                                                "unreconciledAmountNeg": -2367,
                                                "unreconciledLines": 8,
                                                "avgDaysUnreconciledPos": 112.265531,
                                                "avgDaysUnreconciledNeg": 149.298992,
                                                "earliestUnreconciledTransaction": "2019-03-01",
                                                "latestUnreconciledTransaction": "2021-03-01",
                                                "deletedAmount": 50,
                                                "totalAmount": 189,
                                                "dataSource": {
                                                    "directBankFeed": 0,
                                                    "fileUpload": 300,
                                                    "manual": -188,
                                                    "directBankFeedPos": 0,
                                                    "fileUploadPos": 2223,
                                                    "manualPos": 0,
                                                    "directBankFeedNeg": 0,
                                                    "fileUploadNeg": -1890,
                                                    "manualNeg": -500,
                                                    "otherPos": 0,
                                                    "otherNeg": 0,
                                                    "other": 100
                                                },
                                                "earliestReconciledTransaction": "2019-03-01",
                                                "latestReconciledTransaction": "2020-03-01",
                                                "reconciledAmountPos": 0,
                                                "reconciledAmountNeg": -288,
                                                "reconciledLines": 3,
                                                "totalAmountPos": 2245,
                                                "totalAmountNeg": -1995
                                            },
                                            "currentStatement": {
                                                "startDate": "2021-03-01",
                                                "endDate": "2021-03-01",
                                                "startBalance": 0,
                                                "endBalance": 0,
                                                "importedDateTimeUtc": "2021-03-09T05:22:14.3Z",
                                                "importSourceType": "Manual"
                                            }
                                        },
                                        "cashAccount": {
                                            "unreconciledAmountPos": 1440,
                                            "unreconciledAmountNeg": -1000,
                                            "startingBalance": 0,
                                            "accountBalance": 0,
                                            "balanceCurrency": "NZD"
                                        }
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "invalid-request",
                                    "title": "InvalidRequest",
                                    "status": 400,
                                    "detail": "Invalid BalanceDate: '2020-01'"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "finance.cashvalidation.read"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        },
        "/FinancialStatements/BalanceSheet": {
            "get": {
                "tags": [
                    "Finance"
                ],
                "summary": "Get Balance Sheet report",
                "description": "The balance sheet report is a standard financial report which describes the financial position of an organisation at a point in time.",
                "operationId": "getFinancialStatementBalanceSheet",
                "parameters": [
                    {
                        "name": "balanceDate",
                        "in": "query",
                        "description": "Specifies the date for balance sheet report.\r\n\r\nFormat yyyy-MM-dd. If no parameter is provided, the current date will be used",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2020-06-30",
                        "x-snake": "balance_date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Balance sheet report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BalanceSheetResponse"
                                },
                                "example": {
                                    "balanceDate": "2021-05-12",
                                    "asset": {
                                        "accountTypes": [
                                            {
                                                "accountType": "INVENTORY",
                                                "accounts": [
                                                    {
                                                        "code": "630",
                                                        "accountID": "abcdeabc-80bb-47f5-9418-d1fc2241b838",
                                                        "name": "Inventory",
                                                        "reportingCode": "ASS.CUR.INY",
                                                        "total": 3
                                                    }
                                                ],
                                                "total": 3
                                            },
                                            {
                                                "accountType": "CURRENT",
                                                "accounts": [
                                                    {
                                                        "code": "610",
                                                        "accountID": "abcdeabc-b4d1-45a5-82f7-19deda692a31",
                                                        "name": "Accounts Receivable",
                                                        "reportingCode": "ASS.CUR.REC.TRA",
                                                        "total": 100
                                                    }
                                                ],
                                                "total": 100
                                            },
                                            {
                                                "accountType": "BANK",
                                                "accounts": [
                                                    {
                                                        "accountID": "abcdeabc-3a6d-4c53-ba82-ea1c92d02ef4",
                                                        "name": "Buz Acc",
                                                        "reportingCode": "ASS",
                                                        "total": -42.3
                                                    }
                                                ],
                                                "total": -42.3
                                            }
                                        ],
                                        "total": 60.7
                                    },
                                    "liability": {
                                        "accountTypes": [
                                            {
                                                "accountType": "CURRLIAB",
                                                "accounts": [
                                                    {
                                                        "code": "820",
                                                        "accountID": "abcdeabc-40f7-49f1-ad89-1930c1366e5b",
                                                        "name": "GST",
                                                        "reportingCode": "LIA.CUR.TAX.GST",
                                                        "total": 1.59
                                                    },
                                                    {
                                                        "code": "860",
                                                        "accountID": "abcdeabc-2877-4c00-be7d-475b1ded30d7",
                                                        "name": "Rounding",
                                                        "reportingCode": "LIA.CUR",
                                                        "total": -0.1
                                                    },
                                                    {
                                                        "code": "800",
                                                        "accountID": "abcdeabc-80ba-4b58-8d72-f8e9ca0f2f00",
                                                        "name": "Accounts Payable",
                                                        "reportingCode": "LIA.CUR.PAY.TRA",
                                                        "total": 44.4
                                                    }
                                                ],
                                                "total": 45.89
                                            }
                                        ],
                                        "total": 45.89
                                    },
                                    "equity": {
                                        "accountTypes": [
                                            {
                                                "accountType": "EQUITY",
                                                "accounts": [
                                                    {
                                                        "accountID": "00000000-0000-0000-0000-000000000000",
                                                        "name": "Current Year Earnings",
                                                        "total": 14.81
                                                    }
                                                ],
                                                "total": 14.81
                                            }
                                        ],
                                        "total": 14.81
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "invalid-request",
                                    "title": "InvalidRequest",
                                    "status": 400,
                                    "detail": "Organisation xxx does not exist"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "service-unavailable",
                                    "title": "ServiceUnavailable",
                                    "status": 503,
                                    "detail": "Cannot process org xxx at this time. Apologies for inconvenience."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "finance.statements.read"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        },
        "/FinancialStatements/Cashflow": {
            "get": {
                "tags": [
                    "Finance"
                ],
                "summary": "Get Cash flow report",
                "description": "The statement of cash flows - direct method, provides the year to date changes in operating, financing and investing cash flow activities for an organisation. Cashflow statement is not available in US region at this stage.",
                "operationId": "getFinancialStatementCashflow",
                "parameters": [
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "Date e.g. yyyy-MM-dd\r\n\r\nSpecifies the start date for cash flow report.\r\n\r\nIf no parameter is provided, the date of 12 months before the end date will be used",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2020-09-15",
                        "x-snake": "start_date"
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "Date e.g. yyyy-MM-dd\r\n\r\nSpecifies the end date for cash flow report.\r\n\r\nIf no parameter is provided, the current date will be used",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2021-09-15",
                        "x-snake": "end_date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cash flow report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CashflowResponse"
                                },
                                "example": {
                                    "startDate": "2018-07-01",
                                    "endDate": "2019-06-30",
                                    "cashBalance": {
                                        "openingCashBalance": 5000,
                                        "closingCashBalance": -50000,
                                        "netCashMovement": -55000
                                    },
                                    "cashflowActivities": [
                                        {
                                            "name": "Operating Activities",
                                            "total": -41000,
                                            "cashflowTypes": [
                                                {
                                                    "name": "Receipts from customers",
                                                    "total": 34000,
                                                    "accounts": [
                                                        {
                                                            "accountId": "abcdefab-4d1e-4d1a-9e4c-68b2c2a278e2",
                                                            "accountType": "REVENUE",
                                                            "accountClass": "REVENUE",
                                                            "code": "455",
                                                            "name": "Cellar Door - Till Variance",
                                                            "reportingCode": "EXP",
                                                            "total": -1000
                                                        },
                                                        {
                                                            "accountId": "abcdefab-4d1e-4d1a-9e4c-68b2c2a278e2",
                                                            "accountType": "CURRENT",
                                                            "accountClass": "ASSET",
                                                            "code": "123",
                                                            "name": "Loan - Darleen's",
                                                            "reportingCode": "ASS",
                                                            "total": 35000
                                                        }
                                                    ]
                                                },
                                                {
                                                    "name": "Payments to suppliers and employees",
                                                    "total": -75000,
                                                    "accounts": [
                                                        {
                                                            "accountId": "abcdefab-4d1e-4d1a-9e4c-68b2c2a278e2",
                                                            "accountType": "CURRENT",
                                                            "accountClass": "ASSET",
                                                            "code": "123",
                                                            "name": "Loan - Darleen's",
                                                            "reportingCode": "ASS",
                                                            "total": -75000
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "name": "Investing Activities",
                                            "total": -35000,
                                            "cashflowTypes": [
                                                {
                                                    "name": "Payment for property, plant and equipment",
                                                    "total": -36000,
                                                    "accounts": [
                                                        {
                                                            "accountId": "abcdefab-4d1e-4d1a-9e4c-68b2c2a278e2",
                                                            "accountType": "FIXED",
                                                            "accountClass": "ASSET",
                                                            "code": "138",
                                                            "name": "Motor Vehicles at Cost",
                                                            "reportingCode": "ASS",
                                                            "total": -1000
                                                        },
                                                        {
                                                            "accountId": "abcdefab-5353-9d4b-7cad-51b2c2a2754a",
                                                            "accountType": "FIXED",
                                                            "accountClass": "ASSET",
                                                            "code": "140",
                                                            "name": "Equipment at cost",
                                                            "reportingCode": "ASS",
                                                            "total": -35000
                                                        }
                                                    ]
                                                },
                                                {
                                                    "name": "Proceeds from sale of property, plant and equipment",
                                                    "total": 1000,
                                                    "accounts": [
                                                        {
                                                            "accountId": "abcdefab-4d1e-4d1a-9e4c-68b2c2a278e2",
                                                            "accountType": "FIXED",
                                                            "accountClass": "ASSET",
                                                            "code": "138",
                                                            "name": "Motor Vehicles at Cost",
                                                            "reportingCode": "ASS",
                                                            "total": 1000
                                                        },
                                                        {
                                                            "accountId": "abcdefab-5353-9d4b-7cad-51b2c2a2754a",
                                                            "accountType": "FIXED",
                                                            "accountClass": "ASSET",
                                                            "code": "140",
                                                            "name": "Equipment at cost",
                                                            "reportingCode": "ASS",
                                                            "total": 0
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "name": "Financing Activities",
                                            "total": -14000,
                                            "cashflowTypes": [
                                                {
                                                    "name": "Proceeds from borrowings",
                                                    "total": 1000.5,
                                                    "accounts": [
                                                        {
                                                            "accountId": "abcdefab-4d1e-4d1a-9e4c-68b2c2a278e2",
                                                            "accountType": "TERMLIAB",
                                                            "accountClass": "LIABILITY",
                                                            "code": "244",
                                                            "name": "Loan - Shellcoll Distribution 2019",
                                                            "reportingCode": "LIA.CUR.LOA",
                                                            "total": 1000.5
                                                        }
                                                    ]
                                                },
                                                {
                                                    "name": "Repayment of borrowings",
                                                    "total": -15000.5,
                                                    "accounts": [
                                                        {
                                                            "accountId": "abcdefab-4d1e-4d1a-9e4c-68b2c2a278e2",
                                                            "accountType": "TERMLIAB",
                                                            "accountClass": "LIABILITY",
                                                            "code": "244",
                                                            "name": "Loan - Shellcoll Distribution 2019",
                                                            "reportingCode": "LIA.CUR.LOA",
                                                            "total": -15000.5
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "invalid-request",
                                    "title": "InvalidRequest",
                                    "status": 400,
                                    "detail": "Organisation xxx does not exist"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "service-unavailable",
                                    "title": "ServiceUnavailable",
                                    "status": 503,
                                    "detail": "Cannot process org xxx at this time. Apologies for inconvenience."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "finance.statements.read"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        },
        "/FinancialStatements/ProfitAndLoss": {
            "get": {
                "tags": [
                    "Finance"
                ],
                "summary": "Get Profit & Loss report",
                "description": "The profit and loss statement is a standard financial report providing detailed year to date income and expense detail for an organisation.",
                "operationId": "getFinancialStatementProfitAndLoss",
                "parameters": [
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "Date e.g. yyyy-MM-dd\r\n\r\nSpecifies the start date for profit and loss report\r\n\r\nIf no parameter is provided, the date of 12 months before the end date will be used",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2020-09-15",
                        "x-snake": "start_date"
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "Date e.g. yyyy-MM-dd\r\n\r\nSpecifies the end date for profit and loss report \r\n\r\nIf no parameter is provided, the current date will be used",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2021-09-15",
                        "x-snake": "end_date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Profit and loss report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProfitAndLossResponse"
                                },
                                "example": {
                                    "startDate": "2020-07-01",
                                    "endDate": "2021-06-30",
                                    "netProfitLoss": 123,
                                    "revenue": {
                                        "total": 20922.46,
                                        "accountTypes": [
                                            {
                                                "total": 20825.41,
                                                "title": "Trading Income",
                                                "accounts": [
                                                    {
                                                        "accountID": "abcdefab-2006-43c2-a5da-3c0e5f43b452",
                                                        "accountType": "REVENUE",
                                                        "code": "200",
                                                        "name": "Sales",
                                                        "reportingCode": "REV",
                                                        "total": 20825.41
                                                    }
                                                ]
                                            },
                                            {
                                                "total": 97.05,
                                                "title": "Other Income",
                                                "accounts": [
                                                    {
                                                        "accountID": "abcdefab-4d63-4af8-937f-04087ae2e36e",
                                                        "accountType": "OTHERINCOME",
                                                        "code": "270",
                                                        "name": "Interest Income",
                                                        "reportingCode": "REV.OTH",
                                                        "total": 97.05
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "expense": {
                                        "total": 1282.06,
                                        "accountTypes": [
                                            {
                                                "total": 1137.59,
                                                "title": "Direct Cost",
                                                "accounts": [
                                                    {
                                                        "accountID": "abcdefab-d381-4bd6-ba47-7af927d25825",
                                                        "accountType": "DIRECTCOSTS",
                                                        "code": "300",
                                                        "name": "Purchases",
                                                        "reportingCode": "EXP.DC",
                                                        "total": 1137.59
                                                    }
                                                ]
                                            },
                                            {
                                                "total": 144.47,
                                                "title": "Operating Expenses",
                                                "accounts": [
                                                    {
                                                        "accountID": "abcdefab-f897-4168-b5d1-2279bf74bb82",
                                                        "accountType": "EXPENSE",
                                                        "code": "453",
                                                        "name": "Office Expenses",
                                                        "reportingCode": "EXP",
                                                        "total": 144.47
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "invalid-request",
                                    "title": "InvalidRequest",
                                    "status": 400,
                                    "detail": "Organisation xxx does not exist"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "finance.statements.read"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        },
        "/FinancialStatements/TrialBalance": {
            "get": {
                "tags": [
                    "Finance"
                ],
                "summary": "Get Trial Balance report",
                "description": "The trial balance provides a detailed list of all accounts of an organisation at a point in time, with revenue and expense items being year to date.",
                "operationId": "getFinancialStatementTrialBalance",
                "parameters": [
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "Date e.g. yyyy-MM-dd \r\n\r\nSpecifies the end date for trial balance report \r\n\r\nIf no parameter is provided, the current date will be used",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2021-09-15",
                        "x-snake": "end_date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Trial balance report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TrialBalanceResponse"
                                },
                                "example": {
                                    "startDate": "2020-07-01",
                                    "endDate": "2021-06-30",
                                    "accounts": [
                                        {
                                            "accountId": "abcdefab-3bbf-4f2a-9e4c-20ec7b8e6b41",
                                            "accountType": "ASSET",
                                            "accountCode": "ASS",
                                            "accountClass": "BANK",
                                            "status": "ACTIVE",
                                            "reportingCode": "ASS",
                                            "accountName": "Everyday transactions",
                                            "balance": {
                                                "value": 100,
                                                "entryType": "DEBIT"
                                            },
                                            "signedBalance": -23,
                                            "accountMovement": {
                                                "debits": 0,
                                                "credits": 0,
                                                "movement": {
                                                    "value": 123,
                                                    "entryType": "CREDIT"
                                                },
                                                "signedMovement": 0
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "invalid-request",
                                    "title": "InvalidRequest",
                                    "status": 400,
                                    "detail": "Organisation xxx does not exist"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "finance.statements.read"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        },
        "/FinancialStatements/contacts/revenue": {
            "get": {
                "tags": [
                    "Finance"
                ],
                "summary": "Get revenue by contacts report",
                "description": "The revenue by contact report provides a year to date profit and loss for customers and suppliers for a given organisation, including detailed contact information.",
                "operationId": "getFinancialStatementContactsRevenue",
                "parameters": [
                    {
                        "name": "contactIds",
                        "in": "query",
                        "description": "Specifies the customer contacts to be included in the report.\r\n\r\nIf no parameter is provided, all customer contacts will be included",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "example": [
                                "00000000-0000-0000-0000-000000000000",
                                "00000000-0000-0000-0000-000000000000"
                            ],
                            "items": {
                                "type": "string",
                                "format": "uuid"
                            }
                        },
                        "x-snake": "contact_ids"
                    },
                    {
                        "name": "includeManualJournals",
                        "in": "query",
                        "description": "Specifies whether to include the manual journals in the report.\r\n            \r\nIf no parameter is provided, manual journals will not be included",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        },
                        "example": true,
                        "x-snake": "include_manual_journals",
                        "x-example-python": "True"
                    },
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "Date yyyy-MM-dd\r\n\r\nSpecifies the start date for the report.\r\n            \r\nIf no parameter is provided, the date of 12 months before the end date will be used.\r\n            \r\nIt is recommended to always specify both a start date and end date; While the initial range may be set to 12 months, this may need to be reduced for high volume organisations in order to improve latency",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2020-09-15",
                        "x-snake": "start_date"
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "Date yyyy-MM-dd\r\n\r\nSpecifies the end date for the report.\r\n\r\nIf no parameter is provided, the current date will be used.\r\n            \r\nIt is recommended to always specify both a start date and end date; While the initial range may be set to 12 months, this may need to be reduced for high volume organisations in order to improve latency",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2020-09-15",
                        "x-snake": "end_date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Revenue by contacts report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IncomeByContactResponse"
                                },
                                "example": {
                                    "startDate": "2019-10-17",
                                    "endDate": "2020-10-16",
                                    "total": 1200,
                                    "totalDetail": {
                                        "totalPaid": 400,
                                        "totalOutstanding": 1000,
                                        "totalCreditedUnApplied": 200
                                    },
                                    "totalOther": {
                                        "totalOutstandingAged": 1000,
                                        "totalVoided": 150,
                                        "totalCredited": 10
                                    },
                                    "contacts": [
                                        {
                                            "id": "1f580fe2-0659-31ee-eeb4-5c49d15d8bfa",
                                            "name": "FirstContact",
                                            "total": 1400,
                                            "totalDetail": {
                                                "totalPaid": 400,
                                                "totalOutstanding": 1000,
                                                "totalCreditedUnApplied": 0
                                            },
                                            "totalOther": {
                                                "totalOutstandingAged": 1000,
                                                "totalVoided": 150,
                                                "totalCredited": 0,
                                                "transactionCount": 3
                                            },
                                            "accountCodes": [
                                                "090",
                                                "200",
                                                "09-BANK"
                                            ]
                                        },
                                        {
                                            "id": "20e94281-4751-fb7e-ee5e-96b43ae93c8a",
                                            "name": "SecondContact",
                                            "total": -200,
                                            "totalDetail": {
                                                "totalPaid": 10,
                                                "totalOutstanding": 20,
                                                "totalCreditedUnApplied": 200
                                            },
                                            "totalOther": {
                                                "totalOutstandingAged": 2,
                                                "totalVoided": 3,
                                                "totalCredited": 4,
                                                "transactionCount": 1
                                            },
                                            "accountCodes": [
                                                "900"
                                            ]
                                        }
                                    ],
                                    "manualJournals": {
                                        "total": -100
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "invalid-request",
                                    "title": "InvalidRequest",
                                    "status": 400,
                                    "detail": "Organisation xxx does not exist"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "finance.statements.read"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        },
        "/FinancialStatements/contacts/expense": {
            "get": {
                "tags": [
                    "Finance"
                ],
                "summary": "Get expense by contacts report",
                "description": "The expense by contact report provides a year to date profit and loss for customers and suppliers for a given organisation, including detailed contact information.",
                "operationId": "getFinancialStatementContactsExpense",
                "parameters": [
                    {
                        "name": "contactIds",
                        "in": "query",
                        "description": "Specifies the customer contacts to be included in the report.\r\n\r\nIf no parameter is provided, all customer contacts will be included",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "example": [
                                "00000000-0000-0000-0000-000000000000",
                                "00000000-0000-0000-0000-000000000000"
                            ],
                            "items": {
                                "type": "string",
                                "format": "uuid"
                            }
                        },
                        "x-snake": "contact_ids"
                    },
                    {
                        "name": "includeManualJournals",
                        "in": "query",
                        "description": "Specifies whether to include the manual journals in the report.\r\n            \r\nIf no parameter is provided, manual journals will not be included",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        },
                        "example": true,
                        "x-snake": "include_manual_journals",
                        "x-example-python": "True"
                    },
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "Date yyyy-MM-dd\r\n\r\nSpecifies the start date for the report.\r\n            \r\nIf no parameter is provided, the date of 12 months before the end date will be used.\r\n            \r\nIt is recommended to always specify both a start date and end date; While the initial range may be set to 12 months, this may need to be reduced for high volume organisations in order to improve latency",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2020-09-15",
                        "x-snake": "start_date"
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "Date yyyy-MM-dd\r\n\r\nSpecifies the end date for the report.\r\n\r\nIf no parameter is provided, the current date will be used.\r\n            \r\nIt is recommended to always specify both a start date and end date; While the initial range may be set to 12 months, this may need to be reduced for high volume organisations in order to improve latency",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2020-09-15",
                        "x-snake": "end_date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Expense by contacts report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IncomeByContactResponse"
                                },
                                "example": {
                                    "startDate": "2019-10-17",
                                    "endDate": "2020-10-16",
                                    "total": 1200,
                                    "totalDetail": {
                                        "totalPaid": 400,
                                        "totalOutstanding": 1000,
                                        "totalCreditedUnApplied": 200
                                    },
                                    "totalOther": {
                                        "totalOutstandingAged": 1000,
                                        "totalVoided": 150,
                                        "totalCredited": 10
                                    },
                                    "contacts": [
                                        {
                                            "id": "1f580fe2-0659-31ee-eeb4-5c49d15d8bfa",
                                            "name": "FirstContact",
                                            "total": 1400,
                                            "totalDetail": {
                                                "totalPaid": 400,
                                                "totalOutstanding": 1000,
                                                "totalCreditedUnApplied": 0
                                            },
                                            "totalOther": {
                                                "totalOutstandingAged": 1000,
                                                "totalVoided": 150,
                                                "totalCredited": 0,
                                                "transactionCount": 3
                                            },
                                            "accountCodes": [
                                                "090",
                                                "200",
                                                "09-BANK"
                                            ]
                                        },
                                        {
                                            "id": "20e94281-4751-fb7e-ee5e-96b43ae93c8a",
                                            "name": "SecondContact",
                                            "total": -200,
                                            "totalDetail": {
                                                "totalPaid": 0,
                                                "totalOutstanding": 0,
                                                "totalCreditedUnApplied": 200
                                            },
                                            "totalOther": {
                                                "totalOutstandingAged": 2,
                                                "totalVoided": 3,
                                                "totalCredited": 4,
                                                "transactionCount": 1
                                            },
                                            "accountCodes": [
                                                "900"
                                            ]
                                        }
                                    ],
                                    "manualJournals": {
                                        "total": -100
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "invalid-request",
                                    "title": "InvalidRequest",
                                    "status": 400,
                                    "detail": "Organisation xxx does not exist"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "finance.statements.read"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        },
        "/BankStatementsPlus/statements": {
            "get": {
                "tags": [
                    "Finance"
                ],
                "summary": "Get Bank Statement Accounting",
                "description": "For lenders that prefer using bank statement data as the source of truth.  We provide a data point that will allow access to customer bank statements, plus for reconciled bank transactions the matching accounting, invoice and billing data as well.  As customers reconcile bank statements to invoices and bills, this transaction detail will provide valuable insight for lender's assessment measures. ",
                "operationId": "getBankStatementAccounting",
                "parameters": [
                    {
                        "name": "BankAccountID",
                        "in": "query",
                        "description": "string, GUID\r\n\r\nBank account Id",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "x-snake": "bank_account_id",
                        "x-ballerina-name": "bankAccountID"
                    },
                    {
                        "name": "FromDate",
                        "in": "query",
                        "description": "date, yyyy-MM-dd \r\n\r\nSpecifies the start date of the query period. \r\nThe maximum range of the query period is 12 months. If the specified query period is more than 12 months the request will be rejected",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "2020-07-01"
                        },
                        "example": "2020-07-01",
                        "x-snake": "from_date",
                        "x-ballerina-name": "fromDate"
                    },
                    {
                        "name": "ToDate",
                        "in": "query",
                        "description": "date, yyyy-MM-dd \r\n\r\nSpecifies the end date of the query period. \r\nIf the end date is a future date, the request will be rejected",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "2021-06-30"
                        },
                        "example": "2021-06-30",
                        "x-snake": "to_date",
                        "x-ballerina-name": "toDate"
                    },
                    {
                        "name": "SummaryOnly",
                        "in": "query",
                        "description": "boolean, true/false\r\n\r\nThe default value is true if no parameter is provided.\r\n\r\nIn summary mode, the response will exclude the computation-heavy LineItems fields from bank transaction, invoice, credit note, prepayment and overpayment data, making the API calls quicker and more efficient",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        },
                        "example": true,
                        "x-snake": "summary_only",
                        "x-example-python": "True",
                        "x-ballerina-name": "summaryOnly"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bank statement accounting data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BankStatementAccountingResponse"
                                },
                                "example": {
                                    "bankAccountId": "1234eee9-47f0-4179-bd46-9adb4f21cc7f",
                                    "bankAccountName": "ANZ BANK",
                                    "bankAccountCurrencyCode": "NZD",
                                    "statements": [
                                        {
                                            "statementId": "7c29eee9-47f0-4179-bd46-9adb4f21cc7f",
                                            "startDate": "2021-01-01",
                                            "endDate": "2021-01-02",
                                            "importedDateTimeUtc": "2021-01-02T12:00:00Z",
                                            "importSource": "STMTIMPORTSRC/MANUAL",
                                            "startBalance": 10.0,
                                            "endBalance": 200.0,
                                            "indicativeStartBalance": 10.0,
                                            "indicativeEndBalance": 200.0,
                                            "statementLines": [
                                                {
                                                    "statementLineId": "1234eee9-47f0-4179-bd46-9adb4f21cc7f",
                                                    "postedDate": "2021-01-01",
                                                    "payee": "ACME Thneeds ABC1234567890 SYDNEY",
                                                    "reference": "Eft",
                                                    "notes": "payment to bank",
                                                    "chequeNo": "123",
                                                    "amount": 100.0,
                                                    "transactionDate": "2021-01-01",
                                                    "type": "Debit",
                                                    "isReconciled": true,
                                                    "isDuplicate": false,
                                                    "isDeleted": false,
                                                    "payments": [
                                                        {
                                                            "paymentId": "47ec8431-23c2-4ef9-90e5-b440fe55d086",
                                                            "batchPaymentId": "ecc83387-ffaa-4023-b111-b3fd9e3e4a8e",
                                                            "date": "2021-01-01",
                                                            "amount": 80.0,
                                                            "bankAmount": 80.0,
                                                            "currencyRate": 1.0,
                                                            "invoice": {
                                                                "invoiceId": "c01dd6ac-8835-4bf2-af8b-841db9534d7f",
                                                                "contact": {
                                                                    "contactId": "1234eee9-47f0-4179-bd46-9adb4f21cc7f",
                                                                    "contactName": "Bob"
                                                                },
                                                                "total": 80.0,
                                                                "lineItems": [
                                                                    {
                                                                        "accountId": "f7fe1049-d1cf-4d10-9df1-67a6e363015f",
                                                                        "reportingCode": "REV.OTH",
                                                                        "lineAmount": 80.0,
                                                                        "accountType": "REVENUE"
                                                                    }
                                                                ]
                                                            }
                                                        },
                                                        {
                                                            "paymentId": "54e8eee0-91a7-4a4d-bb9b-957302a2760a",
                                                            "batchPaymentId": "ecc83387-ffaa-4023-b111-b3fd9e3e4a8e",
                                                            "date": "2021-01-01",
                                                            "amount": 15.0,
                                                            "bankAmount": 15.0,
                                                            "currencyRate": 1.0,
                                                            "creditNote": {
                                                                "creditNoteId": "c346d6a5-f013-4207-bc70-f2dd80a5f37f",
                                                                "contact": {
                                                                    "contactId": "1234eee9-47f0-4179-bd46-9adb4f21cc7f",
                                                                    "contactName": "Bob"
                                                                },
                                                                "total": 15.0,
                                                                "lineItems": [
                                                                    {
                                                                        "accountId": "f7fe1049-d1cf-4d10-9df1-67a6e363015f",
                                                                        "reportingCode": "REV.OTH",
                                                                        "lineAmount": 15.0,
                                                                        "accountType": "REVENUE"
                                                                    }
                                                                ]
                                                            }
                                                        },
                                                        {
                                                            "paymentId": "f94dad64-658c-491f-b901-05d38e9e8702",
                                                            "date": "2021-01-01",
                                                            "amount": 5.0,
                                                            "bankAmount": 5.0,
                                                            "currencyRate": 1.0,
                                                            "prepayment": {
                                                                "prepaymentId": "995f81ae-0afd-4c84-bbe1-90bc7dfa4372",
                                                                "contact": {
                                                                    "contactId": "1234eee9-47f0-4179-bd46-9adb4f21cc7f",
                                                                    "contactName": "Bob"
                                                                },
                                                                "total": 5.0,
                                                                "lineItems": [
                                                                    {
                                                                        "accountId": "f7fe1049-d1cf-4d10-9df1-67a6e363015f",
                                                                        "reportingCode": "REV.OTH",
                                                                        "lineAmount": 5.0,
                                                                        "accountType": "REVENUE"
                                                                    }
                                                                ]
                                                            }
                                                        },
                                                        {
                                                            "paymentId": "6ffbe999-04c8-42d2-bf16-13947c5f1036",
                                                            "date": "2021-01-01",
                                                            "amount": 5.0,
                                                            "bankAmount": 5.0,
                                                            "currencyRate": 1.0,
                                                            "overpayment": {
                                                                "overpaymentId": "06575718-5100-4e02-8fbf-c2731a112836",
                                                                "contact": {
                                                                    "contactId": "1234eee9-47f0-4179-bd46-9adb4f21cc7f",
                                                                    "contactName": "Bob"
                                                                },
                                                                "total": 5.0,
                                                                "lineItems": [
                                                                    {
                                                                        "accountId": "f7fe1049-d1cf-4d10-9df1-67a6e363015f",
                                                                        "reportingCode": "REV.OTH",
                                                                        "lineAmount": 5.0,
                                                                        "accountType": "REVENUE"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ],
                                                    "bankTransactions": [
                                                        {
                                                            "bankTransactionId": "55edf88c-6bf6-459a-bd9b-7f250df62eb2",
                                                            "batchPaymentId": "2dce9b39-0427-41af-9739-9510e3b68211",
                                                            "contact": {
                                                                "contactId": "1234eee9-47f0-4179-bd46-9adb4f21cc7f",
                                                                "contactName": "Bob"
                                                            },
                                                            "date": "2021-01-01",
                                                            "amount": 20.0,
                                                            "lineItems": [
                                                                {
                                                                    "accountId": "f7fe1049-d1cf-4d10-9df1-67a6e363015f",
                                                                    "reportingCode": "REV.OTH",
                                                                    "lineAmount": 20.0,
                                                                    "accountType": "REVENUE"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "invalid-request",
                                    "title": "InvalidRequest",
                                    "status": 400,
                                    "detail": "AccountId was not supplied"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "finance.bankstatementsplus.read"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        }
    },
    "components": {
        "schemas": {
            "CreditNoteResponse": {
                "type": "object",
                "properties": {
                    "lineItems": {
                        "type": "array",
                        "description": "Not included in summary mode",
                        "items": {
                            "$ref": "#/components/schemas/LineItemResponse"
                        }
                    },
                    "total": {
                        "type": "number",
                        "description": "Total of Invoice tax inclusive (i.e. SubTotal + TotalTax); Not included in summary mode",
                        "format": "double",
                        "x-is-money": true
                    },
                    "contact": {
                        "$ref": "#/components/schemas/ContactResponse"
                    },
                    "creditNoteId": {
                        "type": "string",
                        "description": "Xero Identifier of credit note",
                        "format": "uuid"
                    }
                },
                "additionalProperties": false
            },
            "StatementBalanceResponse": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "The DEBIT or CREDIT status of the account. Cash accounts in credit have a negative balance"
                    },
                    "value": {
                        "type": "number",
                        "description": "Total closing balance of the account. This includes both reconciled and unreconciled bank statement lines. The closing balance will always be represented as a positive number, with it\u2019s debit/credit status defined in the statementBalanceDebitCredit field",
                        "format": "double",
                        "x-is-money": true
                    }
                },
                "additionalProperties": false
            },
            "BalanceSheetResponse": {
                "type": "object",
                "properties": {
                    "balanceDate": {
                        "type": "string",
                        "description": "Balance date of the report",
                        "format": "date"
                    },
                    "liability": {
                        "$ref": "#/components/schemas/BalanceSheetAccountGroup"
                    },
                    "asset": {
                        "$ref": "#/components/schemas/BalanceSheetAccountGroup"
                    },
                    "equity": {
                        "$ref": "#/components/schemas/BalanceSheetAccountGroup"
                    }
                },
                "additionalProperties": false
            },
            "TrialBalanceResponse": {
                "type": "object",
                "properties": {
                    "endDate": {
                        "type": "string",
                        "description": "End date of the report",
                        "format": "date"
                    },
                    "accounts": {
                        "type": "array",
                        "description": "Refer to the accounts section below",
                        "items": {
                            "$ref": "#/components/schemas/TrialBalanceAccount"
                        }
                    },
                    "startDate": {
                        "type": "string",
                        "description": "Start date of the report",
                        "format": "date"
                    }
                },
                "additionalProperties": false
            },
            "CashflowResponse": {
                "type": "object",
                "properties": {
                    "endDate": {
                        "type": "string",
                        "description": "End date of the report",
                        "format": "date"
                    },
                    "cashBalance": {
                        "$ref": "#/components/schemas/CashBalance"
                    },
                    "cashflowActivities": {
                        "type": "array",
                        "description": "Break down of cash and cash equivalents for the period",
                        "items": {
                            "$ref": "#/components/schemas/CashflowActivity"
                        }
                    },
                    "startDate": {
                        "type": "string",
                        "description": "Start date of the report",
                        "format": "date"
                    }
                },
                "additionalProperties": false
            },
            "CashflowActivity": {
                "type": "object",
                "properties": {
                    "total": {
                        "type": "number",
                        "description": "Total value of the activity type",
                        "format": "double",
                        "x-is-money": true
                    },
                    "cashflowTypes": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CashflowType"
                        }
                    },
                    "name": {
                        "type": "string",
                        "description": "Name of the cashflow activity type. It will be either Operating Activities, Investing Activities or Financing Activities"
                    }
                },
                "additionalProperties": false
            },
            "PnlAccountType": {
                "type": "object",
                "properties": {
                    "total": {
                        "type": "number",
                        "description": "Total movement on this account type",
                        "format": "double",
                        "x-is-money": true
                    },
                    "accounts": {
                        "type": "array",
                        "description": "A list of the movement on each account detail during the query period. Refer to the account detail element below",
                        "items": {
                            "$ref": "#/components/schemas/PnlAccount"
                        }
                    },
                    "title": {
                        "type": "string",
                        "description": "Name of this account type, it will be either Trading Income or Other Income for Revenue section / Direct Cost or Operating Expenses for Expense section"
                    }
                },
                "additionalProperties": false
            },
            "TrialBalanceEntry": {
                "type": "object",
                "properties": {
                    "entryType": {
                        "type": "string",
                        "description": "Sign (Debit/Credit) of the movement of balance in the account"
                    },
                    "value": {
                        "type": "number",
                        "description": "Net movement or net balance in the account",
                        "format": "double",
                        "x-is-money": true
                    }
                },
                "additionalProperties": false
            },
            "PaymentResponse": {
                "type": "object",
                "properties": {
                    "date": {
                        "type": "string",
                        "description": "Date the payment is being made (YYYY-MM-DD) e.g. 2009-09-06",
                        "format": "date"
                    },
                    "creditNote": {
                        "$ref": "#/components/schemas/CreditNoteResponse"
                    },
                    "amount": {
                        "type": "number",
                        "description": "The amount of the payment",
                        "format": "double",
                        "x-is-money": true
                    },
                    "bankAmount": {
                        "type": "number",
                        "description": "The bank amount of the payment",
                        "format": "double",
                        "x-is-money": true
                    },
                    "paymentId": {
                        "type": "string",
                        "description": "Xero Identifier of payment",
                        "format": "uuid"
                    },
                    "overpayment": {
                        "$ref": "#/components/schemas/OverpaymentResponse"
                    },
                    "batchPaymentId": {
                        "type": "string",
                        "description": "Xero Identifier of batch payment. Present if the payment was created as part of a batch",
                        "format": "uuid"
                    },
                    "currencyRate": {
                        "type": "number",
                        "description": "Exchange rate when payment is received. Only used for non base currency invoices and credit notes e.g. 0.7500",
                        "format": "double"
                    },
                    "invoice": {
                        "$ref": "#/components/schemas/InvoiceResponse"
                    },
                    "prepayment": {
                        "$ref": "#/components/schemas/PrepaymentResponse"
                    }
                },
                "additionalProperties": false
            },
            "CurrentStatementResponse": {
                "type": "object",
                "properties": {
                    "endDate": {
                        "type": "string",
                        "description": "Looking at the most recent bank statement, this field indicates the last date which transactions on this statement pertain to. This date is represented in ISO 8601 format",
                        "format": "date"
                    },
                    "endBalance": {
                        "type": "number",
                        "description": "Looking at the most recent bank statement, this field indicates the balance after the transactions on the statement are applied (note, this is not always populated by the bank in every single instance (~10%))",
                        "format": "double",
                        "x-is-money": true
                    },
                    "importedDateTimeUtc": {
                        "type": "string",
                        "description": "Looking at the most recent bank statement, this field indicates when the document was imported into Xero.  This date is represented in ISO 8601 format",
                        "format": "date-time"
                    },
                    "importSourceType": {
                        "type": "string",
                        "description": "Looking at the most recent bank statement, this field indicates the source of the data (direct bank feed, file upload, or manual keying)"
                    },
                    "startDate": {
                        "type": "string",
                        "description": "Looking at the most recent bank statement, this field indicates the first date which transactions on this statement pertain to. This date is represented in ISO 8601 format",
                        "format": "date"
                    },
                    "startBalance": {
                        "type": "number",
                        "description": "Looking at the most recent bank statement, this field indicates the balance before the transactions on the statement are applied (note, this is not always populated by the bank in every single instance (~10%))",
                        "format": "double",
                        "x-is-money": true
                    }
                },
                "additionalProperties": false
            },
            "CashflowAccount": {
                "type": "object",
                "properties": {
                    "accountId": {
                        "type": "string",
                        "description": "ID of the account",
                        "format": "uuid"
                    },
                    "total": {
                        "type": "number",
                        "description": "Total amount for the account",
                        "format": "double",
                        "x-is-money": true
                    },
                    "code": {
                        "type": "string",
                        "description": "Account code"
                    },
                    "accountClass": {
                        "type": "string",
                        "description": "The class of the account. See <a href='https://developer.xero.com/documentation/api/types#AccountClassTypes'>Account Class Types</a>"
                    },
                    "accountType": {
                        "type": "string",
                        "description": "The type of the account. See <a href='https://developer.xero.com/documentation/api/types#AccountTypes'>Account Types</a>"
                    },
                    "name": {
                        "type": "string",
                        "description": "Account name"
                    },
                    "reportingCode": {
                        "type": "string",
                        "description": "Reporting code used for cash flow classification"
                    }
                },
                "additionalProperties": false
            },
            "ContactTotalOther": {
                "type": "object",
                "properties": {
                    "totalCredited": {
                        "type": "number",
                        "description": "Total credited value for the contact",
                        "format": "double",
                        "x-is-money": true
                    },
                    "totalVoided": {
                        "type": "number",
                        "description": "Total voided value for the contact",
                        "format": "double",
                        "x-is-money": true
                    },
                    "transactionCount": {
                        "type": "integer",
                        "description": "Number of transactions for the contact",
                        "format": "int32"
                    },
                    "totalOutstandingAged": {
                        "type": "number",
                        "description": "Total outstanding invoice value for the contact within the period where the invoices are more than 90 days old",
                        "format": "double",
                        "x-is-money": true
                    }
                },
                "additionalProperties": false
            },
            "PnlAccountClass": {
                "type": "object",
                "properties": {
                    "total": {
                        "type": "number",
                        "description": "Total revenue/expense value",
                        "format": "double",
                        "x-is-money": true
                    },
                    "accountTypes": {
                        "type": "array",
                        "description": "Contains trading income and other income for revenue section / operating expenses and direct cost for expense section if the data is available for each section. Refer to the account type element below",
                        "items": {
                            "$ref": "#/components/schemas/PnlAccountType"
                        }
                    }
                },
                "additionalProperties": false
            },
            "BalanceSheetAccountType": {
                "type": "object",
                "properties": {
                    "total": {
                        "type": "number",
                        "description": "Total value of all the accounts in this type",
                        "format": "double",
                        "x-is-money": true
                    },
                    "accountType": {
                        "type": "string",
                        "description": "The type of the account. See <a href='https://developer.xero.com/documentation/api/types#AccountTypes'>Account Types</a>"
                    },
                    "accounts": {
                        "type": "array",
                        "description": "A list of all accounts of this type. Refer to the Account section below for each account element detail",
[...]
